# App Config
APP_NAME="NestJS TypeORM API Starter"
PORT=8090

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=nestjs_typeorm_api_starter_db
NODE_ENV=development

# Auth Config
AUTH_PASSWORD_SALT_ROUNDS=10

# JWT Configuration
JWT_SECRET=<JWT_SECRET>
JWT_EXPIRATION=<JWT_EXPIRATION>
JWT_REFRESH_SECRET=<JWT_REFRESH_SECRET>
JWT_REFRESH_EXPIRATION=<JWT_REFRESH_EXPIRATION>

AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_REGION=<AWS_REGION>
AWS_BUCKET_NAME=<AWS_BUCKET_NAME>

# Email Configuration
SMTP_FROM_NAME="NestJS TypeORM API Starter"

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
